<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>No Matches</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        .search-again {
            padding: 10px 20px 10px 10px;
            border: none;
            color: deepskyblue;
        }
        .title {
            margin-right: auto;
            margin-left: auto;
            width: 80%;
        }
    </style>

</head>
<body>
<div class="title">
    <h3 id="title-bus-route">Buses Route <%=routeNumber%> - <a href="/" class="search-again">Search Bus Route Again</a> </h3>
    No Active Bus Routes
</div>
</body>
</html>